
<%= @communities.each do |community| %>
  <div class="card">
    <h3><%= link_to community.name, community %></h3><br>
    <%= community.bio %><br>
    <%= community.total_members %><br>
<% end %>
</div>