<div class="container">
  <% unless user_signed_in? %>
  <div class="row">
    <div class="col">
    <!-- Trending Posts Start here -->
    <p class ="h5"> Trending </p>
    </div>
</div>
    <div class="row">
      <div class="col-sm-3">
      Trending 1
      </div>
      <div class="col-sm-3">
      Trending 2
      </div>
      <div class="col-sm-3">
      Trending 3
      </div>
    </div>
    <% end %>


    <!-- Popular-Posts-Start-Here --> 
    <div class="row mt-4">
      <div class="col">
      <p class="h5">Popular Posts</p>
      </div>
    </div>
  <div class="row">
    <div class="col-8">
     <%= render partial: "posts/list", locals: {posts: @posts} %> <!-- passing in posts to the partial allows us to use this file in multiple locations -->
  </div>
    <div class="col-4">
    <p class="h5"> Newest Communities</p>
    <div class="card" style="width: 18rem;">
    <ul class="list-group">
    <% @communities.each do |community| %>
        <strong><li class="list-group-item"><%= link_to community.name, community_path(community) %></li></strong>
        <% end %>
</ul>
</div>
    </div>
  </div>
</div>